<!-- views/contacts.ejs -->
<!doctype html>
<html>
<head>
    <title>Mannskapshåndteringssystem</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">

</head>


<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand" style:"font-color: red"> <img src="/img/logo.png" style="width: 40px"> Røde Kors</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/admin">Admin</a></li>
          <li><a href="/events">Arrangementer</a></li>
          <li><a href="/profile">Profil</a></li>
          <li><a href="/search">Søk</a></li>
          <li><a href="/contact">Kontakt</a></li>
          <li><a href="/logout">Logg ut</a></li>
        </ul>
      </div>
    </nav>
      <h1 class="text-center">Admin-panel</h1>
        <div class="jumbotron d-flex align-items-center">
          <h2>Ikke godkjente brukere</h2>
          <% for (let i=0; i<ikkeGodkjent.length; i++) { %>
          <% if (ikkeGodkjent[i].isGodkjent === 0) { %>
          <% ikkeGodkjent[i].isGodkjent = "Ikke godkjent" %>
          <li>
          <form action="/approve-user" method="post">
          <%= ikkeGodkjent[i].localName + " " + ikkeGodkjent[i].isGodkjent %>
                    <input type="hidden" value="<%- ikkeGodkjent[i].users_id %>" name="approveUser">
                  <button type="submit" class="btn btn-success btn-lg">Godkjenn</button>
              </form>
            </li>
          <% } %>
          <% } %>

          </div>
    <div class="jumbotron d-flex align-items-center">
      <h2>Ikke godkjente vakter</h2>
      <% for (let i=0; i<deltakelse.length; i++) { %>
      <% if (deltakelse[i].isGodkjent === 0) { %>
      <% deltakelse[i].isGodkjent = "Ikke godkjent" %>
      <li>
      <form action="/approve-deltakelse" method="post">
      <%= deltakelse[i].localName + " vil ha vakten " + deltakelse[i].rolleNavn + " på arrangementet " + deltakelse[i].navn %>
                <input type="hidden" value="<%- deltakelse[i].users_id %>" name="thisUser">
                <input type="hidden" value="<%- deltakelse[i].arr_id %>" name="thisArr">
              <button type="submit" class="btn btn-success btn-lg">Godkjenn</button>
          </form>
        </li>
      <% } %>
      <% } %>
          </div>

          <div class="jumbotron d-flex align-items-center">
            <h2>Ikke godkjent kompetanse</h2>
            <% for (let i=0; i<ikkeGodkjentKompetanse.length; i++) { %>
            <% if (ikkeGodkjentKompetanse[i].isGodkjent === 0) { %>
            <% ikkeGodkjentKompetanse[i].isGodkjent = "Ikke godkjent" %>
            <li>
            <form action="/approve-kompetanse" method="post">
            <%= ikkeGodkjentKompetanse[i].localName + " vil legge til kompetansen " + ikkeGodkjentKompetanse[i].kompetanse_navn %>
                      <input type="hidden" value="<%- ikkeGodkjentKompetanse[i].users_id %>" name="thisUser">
                      <input type="hidden" value="<%- ikkeGodkjentKompetanse[i].kompetanse_navn %>" name="thisKompetanse">
                    <button type="submit" class="btn btn-success btn-lg">Godkjenn</button>
                </form>
              </li>
            <% } %>
            <% } %>

    </div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
