<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
  <title>Mannskapshåndteringssystem</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='fullcalendar-3.8.2/fullcalendar.css' />
  <link rel="stylesheet" href="styles.css">

</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand" style: "font-color: red"> <img src="/img/logo.png" style="width: 40px"> Røde Kors</a>
        </div>
        <ul class="nav navbar-nav">
          <% if (isAdmin[0].isAdmin === 1) { %>
          <li><a href="/admin">Admin</a></li>
          <% } %>
          <li class="active"><a href="/profile">Profil</a></li>
          <li><a href="/events">Arrangementer</a></li>
          <li><a href="/search">Søk</a></li>
          <li><a href="/contact">Kontakt</a></li>
          <li><a href="/logout">Logg ut</a></li>
        </ul>
      </div>
    </nav>

    <div class="row">

      <div class="container-fluid col-sm-4" id="rightContainer">

        <div id='calendar'>
          </br>


          <h3>Alle opprettede arrangementer:</h3> </br>
          <ul>
            <% for(let i=0; i<events.length; i++) { %>
              <li>
                <% if (isAdmin[0].isAdmin === 1) { %>
                  <form action="/remove-event" method="post">
                        <%- link_to(events[i].navn, 'event/'+i) %>
                        <input type="hidden" value="<%- events[i].arr_id %>" name="removeEvent">
                      <button type="submit" class="btn btn-danger btn-xs">x</button>
                  </form>
                <% } else { %>
                <li><%- link_to(events[i].navn, 'event/'+i) %></li>
              <% } } %>
          </ul>
        </div>
      </div>
      <!-- LOCAL INFORMATION -->
      <div class="well container-fluid col-sm-4" id="leftContainer">


        <h3><span class="fa fa-user"></span> Min profil</h3>

        <% if (user.local.email) { %>
          <p>
            <strong>Navn</strong>:
            <%= user.local.name %><br>
              <strong>E-post</strong>:
              <%= user.local.email %><br>
                <strong>Fødselsdato</strong>:
                <%= user.local.bday %><br>
                <strong>Poeng</strong>:
                <% for(let i=0; i<points.length; i++) { %>
                    <%= points[i].poeng %> </br>
                  <% } %>
                  <strong>Kompetanse</strong>: </br>
                  <% for(let i=0; i<kompetanse.length; i++) { %>
                      <%= kompetanse[i].kompetanse_navn %> </br>
                    <% } %>
                    <strong>Roller</strong>:

                  <% let kvaliArray = []; %>

                  <% for(let i=0; i<kompetanse.length; i++) { %>
                  <% kvaliArray.push(kompetanse[i].kompetanse_navn); %>

                  <% } %>

                  <% for (let rolle of roller) { %>
                  <% if (rolle.krav.every(v => kvaliArray.indexOf(v) >= 0)) { %>
                  <%  muligRolle.push(" " + rolle.key); %>
                    <% } %>
                  <% } %>
                    <%= muligRolle; %>
          </p>
          <a href="/profile/editprofile" class="btn btn-danger">Endre profil</a> <br /> <br />
          <% } else { %>
            <a href="/connect/local" class="btn btn-default">Koble til lokal</a>
            </br>
            <% } %>
              <% if (user.google.token) { %>
                <p>
                  Du har koblet din bruker til Google
                </p>

                <a href="/unlink/google" class="btn btn-danger fa fa-google-plus"> Frakoble</a>
                </br>
                </br>
                <% } else { %>
                  <a href="/connect/google" class="btn btn-danger fa fa-google-plus">Koble til Google</a> <br />
                  </br>
                  <% } %>
                    <% if (user.facebook.token) { %>
                      <p>
                        Du har koblet din bruker til Facebook.
                      </p>

                      <a href="/unlink/facebook" class="btn btn-primary fa fa-facebook"> Frakoble</a>
                      <% } else { %>
                        <a href="/connect/facebook" class="btn btn-primary fa fa-facebook">Koble til Facebook</a>
                        <% } %>


      </div>
    </div>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src='fullcalendar-3.8.2/lib/jquery.min.js'></script>
  <script src='fullcalendar-3.8.2/lib/moment.min.js'></script>
  <script src='fullcalendar-3.8.2/fullcalendar.js'></script>
  <script src='fullcalendar-3.8.2/locale/nb.js'></script>
  <script>
    // page is now ready, initialize the calendar...


    $(document).ready(function() {
      $('#calendar').fullCalendar({



        defaultView: 'month',
        navLinks: false, // can click day/week names to navigate views
        editable: true,
        eventLimit: true, // allow "more" link when too many events

        events: [
        <% for(let i=0; i<events.length; i++) { %>
          {

          title: '<%- events[i].navn %>',
          url: '<%- 'event/'+i %>',
          start: '<%- events[i].fraDato.toISOString().replace(/T.*Z/,'') %>',
        },    <% } %>
      ],

        dayClick: function(date) {
          if (window.confirm("Vil du legge til et arrangement på denne datoen " + date.format() +"?"))
          {
          window.location.href = "/events";
}

        }

      });
    });
  </script>
</body>

</html>
