<!-- views/search.ejs -->
<!doctype html>
<html>
<head>
    <title>Mannskapshåndteringssystem</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='fullcalendar-3.8.2/fullcalendar.css' />
    <link rel="stylesheet" href="styles.css">

</head>


<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand" style:"font-color: red"> <img src="/img/logo.png" style="width: 40px"> Røde Kors</a>
        </div>
        <ul class="nav navbar-nav">
          <% if (isAdmin[0].isAdmin === 1) { %>
          <li><a href="/admin">Admin</a></li>
          <li><a href="/events">Arrangementer</a></li>
          <% } %>
          <li><a href="/profile">Profil</a></li>
          <li  class="active"><a href="/search">Søk</a></li>
          <li><a href="/contact">Kontakt</a></li>
          <li><a href="/logout">Logg ut</a></li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron d-flex align-items-center">
      <div class="text-center">
        <form action="/search-user" method="post">
          <div class="form-group">
              <label>Søk</label>
              <input type="text" class="form-control" name="searchInput">
          </div>
            <button type="submit" class="btn btn-warning btn-lg">Søk</button>
        </form>


    </div>
    <ul>


              Søkeresultater
<div class="well">
    <% for(var i=0; i<data.length; i++) { %>
        <% if (isAdmin[0].isAdmin === 1) { %>
        <li>
          <h3><%= data[i].localName %></h3>
          <p>
          Tlf: <%= data[i].localPhone %> </br>
          Epost:<a href=mailto:<%= data[i].localEmail %> > <%= data[i].localEmail %> </a></br>
          </p>
          <form action="/change-profile" method="post">
                    <input type="hidden" value="<%- data[i].id %>" name="thisUser">
                  <button type="submit" class="btn btn-success btn-xs">Endre profil</button>
              </form>
          <form action="/approve-admin" method="post">
                    <input type="hidden" value="<%- data[i].id %>" name="approveAdmin">
                  <button type="submit" class="btn btn-success btn-xs">Gjør til admin</button>
              </form>
              <form action="/deactivate-user" method="post">
                <input type="hidden" value="<%- data[i].id %>" name="thisUser" />
                    <button type="submit" class="btn btn-danger btn-s">Deaktiver bruker</button>
                </form>
        </li>
        <% } else { %>
        <li>
          <h3><%= data[i].localName %></h3>
          <p>
          Tlf: <%= data[i].localPhone %> </br>
          Epost:<a href=mailto:<%= data[i].localEmail %> </a> <%= data[i].localEmail %></br>
          </p>
        </li>
        <% } } %>
    </ul>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src='fullcalendar-3.8.2/lib/jquery.min.js'></script>
<script src='fullcalendar-3.8.2/lib/moment.min.js'></script>
<script src='fullcalendar-3.8.2/fullcalendar.js'></script>
<script src='fullcalendar-3.8.2/locale/nb.js'></script>
<script>$(document).ready(function() {

  // page is now ready, initialize the calendar...

  $('#calendar').fullCalendar({
    defaultView: 'month',
  })

});</script>
</body>
</html>
